/*$lightblue: #BDECF6;
$lightgray: #ECECEC;
$gray: #747474;
$font-color: #767676;
$footer-color: #444444;
$framboise: #E83B89;
$white: #FFFFFF;
$background-promotion: #efefef;
$font: 'roboto';*/

 @use "../abstract/variables" as *;
 @use "../components/mixins" as *;

.header {

    height: 10vh;    
    @include center;
    @include container;

    &__title {
        text-align: center;
    }

    &__title h2{
        color: $footer-color;
    }

    &__title span {
        color: $framboise;
    }

    &__nav {
        align-items: center;      
        
    }

    &__nav ul {        
        display: flex;
        justify-content: center;
        list-style: none;     
        gap: 0.8rem;
        font-size: 0.7rem;
        font-weight: bolder;
        text-transform: uppercase;
        
        
    }

    &__nav li {
        

    }

    &__nav a {
        color: $font-color;
        text-decoration: none;
    }



}