// ici tu mets tout le style global 
// c'est à dire non spécifique
// par ex: html, body, p, li, a...


 @use "../abstract/variables" as *;
 @use "../components/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  line-height: 1.6;
}



