/*$lightblue: #BDECF6;
$lightgray: #ECECEC;
$gray: #747474;
$font-color: #767676;
$footer-color: #444444;
$framboise: #E83B89;
$white: #FFFFFF;
$background-promotion: #efefef;
$font: 'roboto';*/

//  @use "../abstract/variables" as *;
//  @use "../components/mixins" as *;

// .actuality {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
//     padding: 16px;
//     background-color: $lightgray;
    

//     &__card {
//         display: flex;
//         justify-content: center;
//         height: 220px;
//         background: #fff;
//         border-radius: 10px        
//     }

//     &__description {
//         width: 40%;
//     padding: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     flex-direction: column;
//     }


//     &__images img {
//         width: 60%;
//         height: 220px;
//         object-fit: cover;
//         position: absolute;
//     }

//     &__description h4 {
//         color:$font-color;
//     }

//     &__description p {
//         color:$font-color
//     }

    

//     button {
//         @include button;
//     }

    
// }

.actuality {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
    background-color: lightgray;
}

.actuality__card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 220px;
    background: #fff;
    border-radius: 14px;
}

.actuality__images img {
    width: 80%;
    height: 220px;
    object-fit: cover;
    position: absolute;
}

.actuality__description {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #747474;
    flex-direction: column;
}

.actuality__description p {
    color: #767676;
    font-size: 0.8rem;
}
.actuality__description h4 {
    color: #767676;
    border-bottom: solid 2px #747474;
}



.btn-pink {
    width: 70%;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background: #e83a88;
    color: white;
    font-size: 0.8rem;
}

