 @use "../abstract/variables" as *;
 @use "../components/mixins" as *;


.hero {

    // ton style ici pour la section

    background-image: url(../../img/main.jpg);
    background-size: cover;      /* ou contain selon ton besoin */
    background-position: center; /* centre l’image au milieu */
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto;
    height: 30vh;
    @include center;
    

    &__title {
        text-align: center;
        text-transform: uppercase;
    }
    
    

    &__title h1 {
        color: $white;
        font-size: 1.3rem;
        text-align: center;
        
    }

    &__title h1 span {
    
    }

    

    button  {
        @include button;
        
    }



    




    



    }


    
        
        
    


