 @use "../abstract/variables" as *;
 @use "../components/mixins" as *;

 //$lightblue: #BDECF6;
$lightgray: #ECECEC;
$gray: #747474;
$font-color: #767676;
$footer-color: #444444;
$framboise: #E83B89;
$white: #FFFFFF;
$background-promotion: #efefef;
$font: 'roboto';//



.hero {

    // ton style ici pour la section

    background-image: url(../../img/main.jpg);
    width: 90%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
    

    &__title h1 {
        color: $white;
        font-size: 1.7rem;
        text-align: center;
        
    }

    &__title span {
        font-weight: bold;
    }

    

    button  {
        @include button;
        
    }



    




    



    }


    
        
        
    


